*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;

}
.img:before{
    content: '';
    background: 
    url("https://static.pexels.com/photos/248515/pexels-photo-248515.png") no-repeat center center/cover;
   opacity: .9;
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   z-index: -1;


}

h1{
    padding-top:100px;
    padding-bottom: 30px; 
    text-align: center;
    
}

.img p{
    padding:0px 40px;
    padding-bottom: 40px;
    width: 699px;   
}

.btn{
    color: #f9f9f9;
    background-color: #333;
    padding: 20px 40px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    border:1px #fff solid;
    text-decoration: none;
}
.btn:hover{
    background-color:#fff;
    color: #333
  }

  .bg-light{
      background: #f9f9f9;

  }

  .bg-dark {
    background: #333;
  }
  .basic {
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  h2 {
      margin-top: 40px;
      margin-bottom: 10px;
   
  }

   .container-1 {
      display: inline-flex;
      flex-direction: ;
      padding: 20px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.5;
     
    }

    .column-1 , .column-2{
        align-self: center;
        width: 400px;
        padding: 10px;
    }
   
    

  .box{
      background: #fff;
      
      width: 300px;
      height: auto;
      margin: 20px;
      text-align: center;
      line-height: 1.8;
      height: 500px;
      
  }

  h3 {
      padding: 30px;
      padding-bottom: 40px;
  }

  h3>p{
      padding: 10px;
    }
    

  
  .container-2{
      display: flex;
      align-items: center;
      justify-content: center;
      

  }
  .img-1{
      background: url('https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg') no-repeat center center/cover;
      height: 200px;
      width: auto;
  }
  
  .img-2{
      background: url('https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg') no-repeat center center/cover;
      height: 200px;
      width: auto;
  }
  
  .img-3{
      background: url('https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg') no-repeat center center/cover;
      height: 200px;
      width: auto;
  }

  .container-3 {
      text-align: center;
    
  }

  .container-3 h3 {
      padding: 40px;
  }

  .container-3 p {
      width: 900px;
      line-height: 2;
      padding-bottom: 2rem;

  }

  .container-4 {
      display: flex;
      color: #fff;
      text-align: center;
  }

  .box-4 {
      background: rgb(115, 205, 235);
      width: 50%;
      height: auto;
      text-align: center;
      line-height: 1.8;
     
  }

 
      .box-5 {
      background: #333;
      width: 50%;
      height: auto;
      text-align: center;
      line-height: 1.8;
  }

  .container-4 p {
      padding-bottom: 40px;
      padding-top: 20px;
      width: 500px;
      text-align: center;
      margin: auto;
  }


  footer {
      background: black;
      height: 100px;
      color: #fff;
  }
.container-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.footer-1, .footer-2 {
    margin: auto;
    padding: 40px;
}
span {
    color: blue;
}
    
