*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}

#container {
    padding: 20px 200px;
    
}
header{
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    
}

h1{
    text-align: center;
    padding: 20px 0;
}

p{
    margin-left: 10px;
    margin-bottom: 20px;
}

.box{
    border: 1px solid #d1d1d1;
    margin: 15px;
    padding: 20px 20px;
}



label {
    float: left;
    padding: 10px 0;
   
}
span {
 display: block;
 padding: 10px 0;
}


    
    
