* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --primary-color: rgb(255, 208, 0);
}
body {
  background: linear-gradient(110deg, #f93d66, #6d47d9) no-repeat center center/cover;

}

.bg-yellow {
    background: var(--primary-color);
}
.bg-white {
    background: #fff;
}

.menu {

    text-align: center;
    margin: 50px auto 20px auto;
    max-width: auto;
    padding: 0 20px;
}
 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}

a {
    color: black;
}

nav li {
   
    padding: 5px 10px;
    
    
 }
 
.btn {
    text-decoration: none;
    padding: 10px 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.3rem;

}
#showcase {
 
    display: grid;
    grid-template-columns: auto 200px 200px;
    max-width: 90%;
    grid-gap: 1rem;


    /* height: 400px;
    width: 1200px; */
}


.showcase-img {
    background: url('./Image/taco.jpg') no-repeat center center/cover; 
    float: left;
    width:100%;
    min-height: 100%;
    margin-left: 20px

    /* height: 400px;
    width: 60rem;
    margin-left: 40px; */

}

.name h5 {
    background-color: var(--primary-color);
    padding: 5px 0;
    margin: 10px;
    text-align: center;
    width: 125px; 

    
}

.name h1 {
    background-color: var(--primary-color);
    padding: 5px 0;
    margin: 10px;
    text-align: center;
    width: 210px
}

.name {
    display: flex;
    position: relative;
    top: 200px;
    
}
.box {
    height: 400px;
}
.box-1  {
    margin-left: 20px;
    margin-bottom: 30px;
    height: 200px;
    width: 300px;
    text-align: center;
/*    
    display: flex;
    flex-direction: column;
    justify-content: center; */
}
.box-1-2  {
    margin-left: 20px;

    height: 200px;
    width: 300px;
    text-align: center;
/*    
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.box-2 {
    margin: 10px 10px;
    width: 1310px;
    display: flex;
    height: 150px;
}

.box-3 {
    margin-left: 30px;
   height: 150px;
   text-align: center;
}

.icon img {
    height: 50px;
    margin-top: 20px;
    
}

.box-4 {
    background: #fff;
    margin-left: 40px;
    margin-right: 120px;
    
    
}

.box-4 img {
    position: relative;
    top: 75px;
    left: 50px;
}

 h3 {
    margin-left: 450px;
    display: flex;
    position: relative;
    bottom: 150px;
    
}

.box-4  p {
    margin-left: 450px;
    width: 375px;
    line-height: 1.5;
    position: relative;
    bottom: 150px;
    
}

.box-4 .btn {
    margin-left: 450px;
    font-size: 10px;
    padding: 10px 10px;
    position: relative;
    bottom: 140px;
}

.grams h2 {
    text-align: center;
    margin: 20px
}

.grams img {
    padding: 10px;
    height: 200px;
    width: 200px;
}

@media(max-width:768px){
    .showcase-img {
        background: url('./Image/taco.jpg') no-repeat center center/cover; 
        height: 400px;
        width: 25rem;
        margin-left: 40px;
    
    }
}

    
    
   
  
