* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffc600;
}
body{
    background: linear-gradient(110deg, #f93d66, #6d47d9) no-repeat center center/cover;
}
.nav-container {
    display: flex;
    justify-content: center;
    max-width: 90%;

    
    
}
.btn {
    background: var(--primary-color);
    color: #333;
    text-decoration: none;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    margin: 4rem .2rem;
    
}

ul {
    list-style: none;

}